@import '/src/variables.scss';

footer {
    width: $pagewith;
    max-width: $max-pagewith;
    margin: auto;
}

#footer-wrapper {
    background-color: #354d4d;
    color: white;
    padding: 20px 0 10px;
}