.tn-wrapper {
    width: 100%;
}

.thumbnail {
    width: 33.33333%;
    height: 145px;
    float: left;
    z-index: 0;
    position: relative;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 3px white;
    transform: scale(1);
    transition: transform .5s, z-index .5s;

    &:hover {
        transform: scale(2);
        z-index: 20;
    }
}

@media all and (max-width: 600px) {
    .thumbnail {
        width: 50%;
        height: 110px;

        &:hover {
            transform: scale(1);
        }
    }
}

@media all and (max-width: 500px) {
    .thumbnail {
        width: 50%;
        height: 110px;
    }
}