<div class="tn-wrapper">
    <div class="thumbnail" style="background-image:url('/assets/images/IMG_0378.jpg')"></div>
    <div class="thumbnail" style="background-image:url('/assets/images/IMG_0941.jpg')"></div>
    <div class="thumbnail" style="background-image:url('/assets/images/IMG_1486.jpg')"></div>
    <div class="thumbnail" style="background-image:url('/assets/images/IMG_2018.jpg')"></div>
    <div class="thumbnail" style="background-image:url('/assets/images/IMG_2622.jpg')"></div>
    <div class="thumbnail" style="background-image:url('/assets/images/IMG_2812.jpg')"></div>
    <div class="thumbnail" style="background-image:url('/assets/images/IMG_2886.jpg')"></div>
    <div class="thumbnail" style="background-image:url('/assets/images/IMG_3343.jpg')"></div>
    <div class="thumbnail" style="background-image:url('/assets/images/IMG_3517.jpg')"></div>
    <div class="thumbnail" style="background-image:url('/assets/images/IMG_5432.jpg')"></div>
    <div class="thumbnail" style="background-image:url('/assets/images/IMG_5868.jpg')"></div>
    <div class="thumbnail" style="background-image:url('/assets/images/IMG_5952.jpg')"></div>
</div>
