/* You can add global styles to this file, and also import other style files */
@import './variables.scss';

* { font-family: "Montserrat", "Helvetica Neue", sans-serif !important; }
.material-icons { font-family: "Material Icons" !important; }

html, body { height: 100%; }

body { 
    margin: 0; 
    font-size: 16px;
    color: #333;
    background-color: #cdfbfa;
}

p, i, b, u, strong, italic, ul, ol, a, span, input, textarea, button {
    font-size: 20px;
}

b, strong {
    font-weight: bold;
}

p {
    line-height: 2rem;
    font-weight: 200;
}

.mat-body, .mat-body-1, .mat-typography, .mat-typography h1, .mat-typography h2 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
}

.mat-form-field {
    font-weight: 200;
}

.mat-typography h1 {
    font-size: 40px;
    line-height: 3rem;
    margin-bottom: 2rem;
    font-weight: 200;
}

.mat-typography h2 {
    font-size: 32px;
    line-height: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 200;
}

.mat-form-field-infix {
    padding: .5em 0 .8em 0;
}

.center { text-align: center; }
.wp-100 {  width: 100%; }
.green { color: $green; }
.red { color: $red; }
.text-right { text-align: right; }